.Profile {
  margin: 20px;
}

.Description {
  font-size: 14px;
}

.Avatar {
  height: 150px;
  width: 150px;
}

.Name {
  font-size: 16px;
}

.Tag {
  font-size: 16px;
}

.Location {
  font-size: 16px;
}

.Stats {
  font-size: 14px;
}

.Label {
  font-size: 14px;
}
