a {
  text-decoration: none;
}

ul {
  list-style: none;
}



.Statistics {
}

.Title {
  font-size: 20px;
  color: brown;
}

.Stat_list {
}

.Item {
}

.Label {
  font-size: 16px;
}

.Percentage {
  font-size: 16px;
  margin-left:10px;
}
